@charset "utf-8";
/* CSS Document */

/*폰트 설정*/
@font-face { /* 나눔고딕 Regular */
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot);
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.ttf) format('truetype');
}
@font-face { /* 나눔고딕 Bold */
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot);
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.ttf) format('truetype');
}
@font-face { /* 나눔고딕 ExtraBold */
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot);
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.ttf) format('truetype');
}



/* 하위버전을 위한 리셋 */
html{font:normal 13px/150% 'Nanum Gothic',"맑은 고딕",'Helvetica neu', Arial, 'Arial', 'Apple SD Gothic'; letter-spacing: -0.5px; }


header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption, summary, canvas {display:block;}

address{font-style: normal;}


body {margin:0px; padding:0px; color:#555;}
h1, h2, h3, h4, h5, h6{font:700 13px/150% 'Nanum Gothic',"맑은 고딕",'Helvetica neu', Arial, 'Arial', 'Apple SD Gothic'; letter-spacing: -0.5px; margin: 0px; padding:0px; font-weight: normal}



div, p, ol, ul, li, img, a, form, span, iframe, dl, dt, dd {margin: 0px; padding:0px; }

button {cursor: pointer;}

input, select, button{border: 0; background: none; }

input, textarea, select { color: #555; outline: none;}



li{list-style:none;}
a{text-decoration:none; color:#333;}
table, th, td {margin:0; padding:0; border:0; border-spacing:0; border-collapse:collapse;}

img {border:0px; vertical-align:middle;}
form, fieldset{margin:0; padding:0; border:none;}
.hidden{position:absolute; width:0; height:0; font-size:0; line-height:0; visibility:hidden;}
.none, caption ,legend{display:none;}